# Compiled class file
*.class
target

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# eclipse #
.classpath
.project
.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
